<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie</title>
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
</head>
<body>

<div id="summary" class="summary" th:fragment="summary">
    <div class="form-section">
        <h4>Oddajesz:</h4>
        <ul>
            <li>
                <span class="icon icon-bag"></span>
                <span id="quantity" class="summary--text"></span>
            </li>

            <li>
                <span class="icon icon-hand"></span>
                <span id="institution" class="summary--text"></span>
            </li>
        </ul>
    </div>

    <div class="form-section form-section--columns">
        <div class="form-section--column">
            <h4>Adres odbioru:</h4>
            <ul>
                <li id="street"></li>
                <li id="city"></li>
                <li id="zip-code"></li>
                <!--        <li>123 456 789</li>-->
            </ul>
        </div>

        <div class="form-section--column">
            <h4>Termin odbioru:</h4>
            <ul>
                <li id="pick-up-date"></li>
                <li id="pick-up-time"></li>
                <li id="pick-up-comment"></li>
            </ul>
        </div>
    </div>
</div>

<div class="form-group form-group--buttons">
    <button type="button" class="btn prev-step">Wstecz</button>
    <button type="submit" class="btn">Potwierdzam</button>
</div>
</div>
</body>
</html>